<h1 class="pagetitle">This is FaceBook!</h1>
	<% if params[:error] %>
	<p> You have not logged in!</p>
	<% end %>

	<form method=post action="/login">
		<fieldset>
		  <label name="email">Email</label>
		  <input type="text" name="user[email]" /><br>
		  <label name="password">Password</label>
		  <input type="password" name="user[password]" />
		  <input type="submit" value="Login" />
		</fieldset>
	</form>

	<a href="/signup">No Account? Sign up HERE</a>